#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 45vw;
    width: 45vw;
    margin: auto;
    border: 5px solid black;
}

.grid {
    border: 1px solid black;
}